@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    --main-color: #9D9D9D;
    --semi-color: hsl(35, 100%, 97%);
    font-family: 'GongGothicMedium';
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(35, 100%, 97%);
}

.mainpage {
    height: calc(100vh - 104px);
    display: flex;
    align-items: center;

}

.clubContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(62px, 1fr));
    grid-gap: 10px 20px;
    gap: 10px 20px;
    margin:10px 0 0 0;
    width:calc(100vw - 376px);
}

.clubContainer > div {
    color: var(--semi-color);
    background-color: var(--main-color);
    border:1px solid var(--main-color);
    transition: all 0.2s;
    height: 35px;
    transition: 0.2s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clubContainer > div:hover {
    color: var(--main-color);
    background-color: var(--semi-color);
    border:1px solid var(--main-color);
}

.clubExplainContainer {
    width:clamp(0px,45vw,540px);
    height:360px;
    overflow-y: hidden;
    overflow-x: auto;
}

.clubExplain {
    width:540px;
    height:100%;
    transform: translateY(0);
    transition: 1s;
}

.loading {
    height:35vh;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading > .circle {
    height: 20px;
    width: 20px;
    border: 5px solid white;
    border-radius: 100%;
    border-color: black red black black;
    animation-name: loading;
    animation-duration: 1.05s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.switch {
    display: flex;
    flex-direction: row;
    margin:20px 10px 0 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none
}

.switchButton {
    width: 35px;
    height: 16px;
    background-color: var(--main-color);
    margin: 0px 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.switchDot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 2px;
    background-color: white;
    transition: 0.3s ease-in-out;
}

#select:checked ~ label > div {
    transform: translateX(19px);
}

#secondList,
#firstList {
    transition: 0.3s ease-in-out;
}

.top > #secondList {
    transform: translateY(-150px);
}


.toast{-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)}
#toast-container{display:block;position:fixed;z-index:10000}@media only screen and (max-width: 600px){#toast-container{min-width:100%;bottom:0%}}@media only screen and (min-width: 601px) and (max-width: 992px){#toast-container{left:5%;bottom:7%;max-width:90%}}@media only screen and (min-width: 993px){#toast-container{top:10%;right:7%;max-width:86%}}.toast{border-radius:2px;top:35px;width:auto;margin-top:10px;position:relative;max-width:100%;height:auto;min-height:48px;line-height:1em;background-color:#323232;padding:10px 25px;font-size:1.1rem;font-weight:300;color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;cursor:default}.toast .toast-action{color:#eeff41;font-weight:500;margin-right:-25px;margin-left:3rem}.toast.rounded{border-radius:24px}@media only screen and (max-width: 600px){.toast{width:100%;border-radius:0}}.tabs{position:relative;overflow-x:auto;overflow-y:hidden;height:48px;width:100%;background-color:#fff;margin:0 auto;white-space:nowrap}.tabs.tabs-transparent{background-color:transparent}.tabs.tabs-transparent .tab a,.tabs.tabs-transparent .tab.disabled a,.tabs.tabs-transparent .tab.disabled a:hover{color:rgba(255,255,255,0.7)}.tabs.tabs-transparent .tab a:hover,.tabs.tabs-transparent .tab a.active{color:#fff}.tabs.tabs-transparent .indicator{background-color:#fff}.tabs.tabs-fixed-width{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.tabs.tabs-fixed-width .tab{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.tabs .tab{display:inline-block;text-align:center;line-height:48px;height:48px;padding:0;margin:0;text-transform:uppercase}.tabs .tab a{color:rgba(238,110,115,0.7);display:block;width:100%;height:100%;padding:0 24px;font-size:14px;text-overflow:ellipsis;overflow:hidden;-webkit-transition:color .28s ease, background-color .28s ease;transition:color .28s ease, background-color .28s ease}.tabs .tab a:focus,.tabs .tab a:focus.active{background-color:rgba(246,178,181,0.2);outline:none}.tabs .tab a:hover,.tabs .tab a.active{background-color:transparent;color:#ee6e73}.tabs .tab.disabled a,.tabs .tab.disabled a:hover{color:rgba(238,110,115,0.4);cursor:default}.tabs .indicator{position:absolute;bottom:0;height:2px;background-color:#f6b2b5;will-change:left, right}@media only screen and (max-width: 992px){.tabs{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.tabs .tab{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.tabs .tab a{padding:0 12px}}.material-tooltip{padding:10px 8px;font-size:1rem;z-index:2000;background-color:transparent;border-radius:2px;color:#fff;min-height:36px;line-height:120%;opacity:0;position:absolute;text-align:center;max-width:calc(100% - 4px);overflow:hidden;left:0;top:0;pointer-events:none;visibility:hidden;background-color:#323232}